<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-D9XILkoivXN+bcvB2kSOowkIvIcBbNdoDQvfBNsxYAIieZbx8/SI4NeUvrRGCpDi" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>Tamagotchi</title>
</head>
<body>
    <div class="panel panel-info">

      <h1>Your Tamagotchi:</h1>
      {%if tama is empty%}
        <form action="/new" method="post">
          <label for="name">Enter Your tamagotchi's Name:</label>
          <input type="text" name="name">
          <button type="submit" name="button">Make a New Tama</button>
        </form>
      {% elseif tama is not empty%}
        <ul>
          <li class="tamName">{{tama[0].getName}}</li>
          <li>Food Level:
            <div class="progress progress-striped active" style="width: 30%">
              <div class="progress-bar" style="width:{{(tama[0].getFood/100)*100}}%"></div>
              <div class="progress-bar progress-bar-danger" style="width:{{100-(tama[0].getFood/100)*100}}%"></div>
            </div>
          </li>
          <li>Sleep Level:
            <div class="progress progress-striped active" style="width: 30%">
              <div class="progress-bar  progress-bar-warning" style="width:{{(tama[0].getSleep/100)*100}}%"></div>
              <div class="progress-bar progress-bar-danger" style="width:{{100-(tama[0].getSleep/100)*100}}%"></div>
            </div>
          </li>
          <li>Play Level:
            <div class="progress progress-striped active" style="width: 30%">
              <div class="progress-bar progress-bar-success" style="width:{{(tama[0].getPlay/100)*100}}%"></div>
              <div class="progress-bar progress-bar-danger" style="width:{{100-(tama[0].getPlay/100)*100}}%"></div>
            </div>
          </li>
        </ul>
        <div class="buttons row">
          <!-- <div class="col-xs-3">
          </div> -->
          <div class="col-xs-2 col-xs-offset-2">
            <form action="/feed" method="post">
              <button class="interaction foodBtn" type="submit" name="button">Feed</button>
            </form>
          </div>
          <div class="col-xs-2">
            <form action="/sleep" method="post">
              <button class="interaction sleepBtn" type="submit" name="button">Sleep</button>
            </form>
          </div>
          <div class="col-xs-2">
            <form action="/play" method="post">
              <button class="interaction playBtn" type="submit" name="button">Play</button>
            </form>
          </div>
          <div class="col-xs-2">
            <form action="/dead" method="post">
              <button class="interaction delBtn" type="submit" name="button">Kill</button>
            </form>
          </div>


        </div>
      {% endif %}
    </div>
    <div class="row imgDiv">
      <img src={{health}}>
    </div>
</body>
</html>
